$link: #0559DF;
$linkVisited: #3002C3;
$linkHover: #D81413;

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}


body {
  font-family: Georgia, serif;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 1.03em;
  font-variant-ligatures: common-ligatures;
}

::selection {
  background-color: #515171;
  color: #fff;
}

/* Layout blocks */

#container {
  display: block;
  max-width: 800px;
  margin: 1.55em auto 16px auto;
  padding: 0 8px;
  line-height: 1.6;
  text-align: left;
}

#container > header {
  border-bottom: 1px solid #515171;
  margin-bottom: 0.6em;

  h1 {
    margin: 0;
    font-size: 1.4em;
    line-height: 1;
    background-color: #515171;
    padding: 0.38em 8px;
    color: #fff;

    a, a:link, a:visited, a:active {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  nav {
    margin: 0.6em 0 0.6em 0;
    line-height: 2;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      
      a {
        color: #000;
      }
    }
  }

  @media only screen and (min-width: 1360px) {
    float: left;
    width: 140px;
    margin-left: -170px;
    border: 0;

    h1 {
      margin: 0 -8px;
    }

    nav {
      li {
        display: block;
        margin: 0;
      }
    }
  }
}

#container > footer {
  border-bottom: 1px solid #515171;
  margin: 1.6em 0 0 0;
  padding-bottom: 0.25em;

  a, a:link, a:visited, a:active {
    font-size: 1em;
    float: left;
    margin: 0.05em 0 0 0;
    color: #000;
  }
  .copyright {
    text-align: right;
  }
}

/* Headings */

h1, h2, h3  {
  font-weight: 400;
}

h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.7em;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 0.4em 0;
  color: #3636A9;
}

h1 + time,
.dateline {
  color: #555;
  margin-bottom: 1em;
  display: block;
  font-style: italic;
}

h2 {
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 400;
  margin: 0.73em 0 0.54em 0;
  color: #292983;
}

h3 {
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 400;
  margin: 1.1em 0 0.66em 0;
  color: #1D1D5D;
}

h4 {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 600;
  margin: 0.6em 0 0.15em 0;
  color: #111136;
}

h5 {
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: 600;
  color: #444454;
  margin: 1.1em 0 0.18em 0;
}

h6 {
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: 600;
  font-style: italic;
  color: #71718D;
  margin: 1.1em 0 0.18em 0;
}

/* Block elements */

p {
  margin: 0 0 0.8em 0;
}

ul, ol {
  padding: 0;
  margin: 0 0 0.8em 32px;
  ul, ol {
    margin: 0 0 0 32px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

figure {
  margin: 0 32px 0.8em 32px;

  img, video {
    max-width: 100%;
    height: auto;
  }
  figcaption {
    color: #333;
    clear: left;
  }
  table {
    margin: 0 -8px 0.75em -8px;
  }
  pre {
    margin: 0 -8px 0.6em -8px;
  }
}

table {
  margin: 0 0 0.7em 24px;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    border-bottom: 1px solid #000;
    font-weight: 600;
    padding: 0 8px 0em 8px;
  }
  td {
    line-height: 1.4;
    padding: 0.06em 8px 0.2em 8px;
  }
  .num {
    text-align: right;
  }
}

blockquote {
  margin: -0.02em 32px 0.8em 0px;
  border-left: 8px solid #9797B4;
  padding-left: 24px;
  font-style: normal;

  cite {
    display: block;
    font-size: .8em;
    margin-top: -0.75em;
    padding-bottom: 0.1em;
    color: #222;
    font-style: italic;
    display: block;

    &:before {
      color:#222;
      content:"\2014";
      padding-right:.5em
    }
  }
}

pre, code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.85em;
  color: #000;
}

pre {
  margin: 1.2em 24px 1.55em 24px;
  code {
    font-weight: 400;
    padding: 4px 8px!important;
    display: block;
    background-color: #eee;
    overflow-x: auto;
    line-height: 1.3;
  }
}

/* Inline elements */

a {
  &, &:link, &:visited, &:hover, &:active {
    color: $link;
    text-decoration: underline;
  }

  &:visited {
    color: $linkVisited;
  }

  &:hover, &:active {
    color: $linkHover;
    text-decoration: none;
  }

  img {
    border: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

code {
  padding: 3px;
  background-color: #eee;
}

kbd {
  font-family: monospace;
  border: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 2px;
  font-size: 0.9em;
}

/* Widgets */

.post {
  margin-bottom: 8px;
  & > time {
    display: block;
    font-style: italic;
    color: #444;
  }

  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between; 
    & > a {
      margin-right: 8px;
    }
    & > time {
      margin-left: auto;
    }
  }
}

.tags {
  margin-bottom: 0.8em;

  a, a:link, a:active, a:visited {
    color: #555;
    text-decoration: underline;
  }
  a:hover {
    color: $linkHover;
  }
}

.gallery {
  overflow-x: auto;
  white-space: nowrap;

  img {
    vertical-align: top;
  }
}

.gallery-js {
  nav {
    float: left;
    list-style-type: none;
    margin-left: -32px;
  }
  nav a {
    display: block;
    width: 32px;
    text-align: center;
  }
  nav a.active {
    background-color: #eee;
    color: #000;
  }
}

@media only screen and (min-width: 1360px) {
  .toc {
    float: right;
    width: 250px;
    position: sticky;
    top: 0;
    margin-right: -280px;
    h2 {
      margin-top: 0;
    }
    ol {
      list-style-position: inside;
      margin-left: 0;
    }
  }
}
