{
LAYOUT = 'layout.plet.html'
}
<h1>Niels Sonnich Poulsen</h1>

<p>
I am a 29 year old software developer and this is my website.
This is not a curriculum vitae, nor is it a chronicle of my personal life.
I write about my own software projects and interests, not about the work I do professionally.
My interests include programming languages, old computers and laptops, and Linux.
</p>

<style type="text/css">{"""
@media screen and (min-width: 600px) {
  .projects {
    display: flex;
  }

  .projects > * {
    flex: 1 0 0;
  }

  .projects > * + * {
    margin-left: 32px;
  }
}
"""}</style>

<div class="projects">
  <div>
    <h2>Currently working on</h2>
    <ul>
      <li><a href="https://github.com/nielssp/uncomment">Uncomment</a> &ndash; comment system for static sites in Rust</li>
      <li>MUG &ndash; persistent browser based game in space</li>
      <li>CSTK &ndash; TypeScript library</li>
    </ul>
  </div>
  <div>
    <h2>Other projects</h2>
    <ul>
      <li><a href="https://github.com/nielssp/colorgrab">ColorGrab</a> &ndash; cross-platform color picker in C++</li>
      <li><a href="https://nielssp.dk/csol">csol</a> &ndash; terminal solitaire in C</li>
      <li><a{'/things/plet' | href}>Plet</a> &ndash; static site generator in C</li>
      <li><a{'/things' | href}>And other things&hellip;</a></li>
    </ul>
  </div>
</div>

{for year in updates | sort_by_desc(.published) | group_by(.year)}
<h2>{year[0].year}</h2>

<ul>
  {for update in year}
  <li>
    {if not update.hide_date?}
    {update.published | date('%e %B')}:
    {end if}
    {update.html | copy | pygmentize | images(736, 736, 90, true) | links | html}
  </li>
  {end for}
</ul>
{end for}
