<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{
            if TITLE?
                "{TITLE | h} | {CONFIG.title | h}"
            else
                CONFIG.title | h
                if CONFIG.subtitle?
                    " &ndash; {CONFIG.subtitle | h}"
                end if
            end if
        }</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{CONFIG.description | h}"/>
        <link rel="shortcut icon" href="{'/favicon.ico' | link}"/>

        <style type="text/css">{read("{DIST_ROOT}/css/main.css")}</style>

        <link rel="alternate" type="application/rss+xml" href="{link('/posts.rss')}"/>

    </head>
    <body>

        <div id="container">

            <header>
                <h1><a{'/' | href}>{CONFIG.title | h}</a></h1>
                <nav>
                    <ul class="menu">
                        <li><a{'/' | href}>Blog</a></li>
                        <li><a{'/tags' | href}>Topics</a></li>
                        <li><a{'/things' | href}>Things</a></li>
                        <li><a{'/guis' | href}>GUIs</a></li>
                        <li><a{'/about' | href}>About</a></li>
                        <li><a{'/posts.rss' | href}>RSS</a></li>
                        <li><a href="https://github.com/nielssp" rel="me">GitHub</a></li>
                        <li><a href="https://linkedin.com/in/nielssp">LinkedIn</a></li>
                    </ul>
                </nav>
            </header>

            <main>
              {CONTENT}
            </main>

            <footer>
                <a{'/privacy' | href}>Privacy Policy</a>
                <div class="copyright">
                    ©
                    {now() | date('%Y')}
                    {CONFIG.copyright | h}
                </div>
            </footer>
        </div>

        <script type="text/javascript">{read("{DIST_ROOT}/js/gallery.js")}</script>
        <noscript>
          <img src="https://shynet.nielssp.dk/ingress/e2b30bae-8545-4d73-b62c-96683fefd4fc/pixel.gif">
        </noscript>
        <script defer src="https://shynet.nielssp.dk/ingress/e2b30bae-8545-4d73-b62c-96683fefd4fc/script.js"></script>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Code+Pro"/>

    </body>
</html>

