{
LAYOUT = 'layout.tss.html'
TITLE = page.title
}
<article>
    <header>
        <h1>{page.title | h}</h1>
        <div class="dateline">
            Last updated on
            <time datetime="{page.modified | iso8601}" title="{page.modified | date('%F %T %Z')}">{page.modified | date('%A, %e %B %Y')}</time>
        </div>
    </header>
    {page.html | copy | no_title | images(736, 736, 90, true) | links | html}
    {#filter_content(page, ['noTitle', 'highlightjs("foundation")', 'img(736, 736, 90, true)'])#}
</article>
