<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">
          <a href="{link(post.link)}" itemprop="url">{post.title | h}</a>
      </h1>
      <time datetime="{post.published | iso8601}" title="{post.published | date('%F %T %Z')}" itemprop="datePublished">{post.published | date('%A, %e %B %Y')}</time>
      <meta itemprop="mainEntityOfPage" content="{url(post.link)}"/>
      <meta itemprop="dateModified" content="{post.modified | iso8601}"/>
    </header>
    <div itemprop="articleBody">{filter_content(post, ['noTitle', 'brief', 'highlightjs("foundation")', 'img(736, 736, 90, true)'])}</div>

    {if post.has_break}
    <p>
        <a href="{link(post.link)}">Continue reading&hellip;</a>
    </p>
    {end if}
</article>
