{
LAYOUT = 'layout.plet.html'
TITLE = post.title
}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">
          {post.title | h}
      </h1>
      <time datetime="{post.published | iso8601}" title="{post.published | date('%F %T %Z')}" itemprop="datePublished">{post.published | date('%A, %e %B %Y')}</time>
      <meta itemprop="mainEntityOfPage" content="{url(post.link)}"/>
      <meta itemprop="dateModified" content="{post.modified | iso8601}"/>
    </header>

    <div itemprop="articleBody">{post.html | no_title | pygmentize | images(784, 784, 90, true) | links | html}</div>

    <div class="tags">
        {for tag in post.tags}
        <a href="{link("/tags/{tag}")}">#{tag}</a>
        {end for}
    </div>

    <h2>Comments</h2>
    <div id="comments"></div>
    <script data-uncomment
      data-uncomment-target="#comments"
      data-uncomment-id="{post.year}/{post.month}/{post.name}"
      data-uncomment-require-name="true"
      src="https://uncomment.nielssp.dk/en/embed.js"></script>
    <noscript>Please enable JavaScript to view the comments</noscript>
</article>
