{
LAYOUT = 'layout.tss.html'
TITLE = post.title
}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">
          {post.title | h}
      </h1>
      <time datetime="{post.published | iso8601}" title="{post.published | date('%F %T %Z')}" itemprop="datePublished">{post.published | date('%A, %e %B %Y')}</time>
      <meta itemprop="mainEntityOfPage" content="{url(post.link)}"/>
      <meta itemprop="dateModified" content="{post.modified | iso8601}"/>
    </header>

    <div itemprop="articleBody">{filter_content(post, ['noTitle', 'highlightjs("foundation")', 'img(736, 736, 90, true)'])}</div>

    <div class="tags">
        {for tag in post.tags}
        <a href="{url("/tags/{tag}")}">#{tag}</a>
        {end for}
    </div>

    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script>
var disqus_config = function () {'{'}
    this.page.identifier = '{post.year}/{post.month}/{post.name}';
    this.page.url = '{url()}';
    this.page.title = {post.title | json};
};
(function () {'{'}
    var d = document, s = d.createElement('script');
    s.src = '//nielssp.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
