{
LAYOUT = 'layout.plet.html'
}
<h1>Niels Sonnich Poulsen</h1>

<p>
I am a 29 year old software developer and this is my website.
I write about my personal software projects and interests, such as programming languages, old GUIs, static site generation, and more. I also sometimes make games.
</p>

<div class="projects">
  <div>
    <h2>Currently working on</h2>
    <ul>
      <li><a href="https://github.com/nielssp/uncomment">Uncomment</a> &ndash; comment system for static sites in Rust</li>
      <li><a{'/things/mug' | href}>MUG</a> &ndash; persistent browser-based RPG</li>
      <li><a href="https://github.com/nielssp/cstk">CSTK</a> &ndash; reactive TypeScript GUI library</li>
    </ul>
  </div>
  <div>
    <h2>Other projects</h2>
    <ul>
      <li><a href="https://github.com/nielssp/colorgrab">ColorGrab</a> &ndash; cross-platform color picker in C++</li>
      <li><a href="https://nielssp.dk/csol">csol</a> &ndash; solitaire in C</li>
      <li><a{'/things/plet' | href}>Plet</a> &ndash; static site generator in C</li>
      <li><a{'/things' | href}>And other things&hellip;</a></li>
    </ul>
  </div>
</div>

{for year in updates | group_by(.year)}
<h2 id="{year[0].year}">{year[0].year}</h2>

<ul>
  {for update in year}
  <li id="{update.name}" class="update">
    {if not update.hide_date?}
    {update.published | date('%e %B')}:
    {end if}
    {update.html | copy | pygmentize | images(736, 736, 90, true) | links | html}
  </li>
  {end for}
</ul>
{end for}

<style type="text/css">{"""
@media screen and (min-width: 600px) {
  .projects {
    display: flex;
  }

  .projects > * {
    flex: 1 0 0;
  }

  .projects > * + * {
    margin-left: 32px;
  }
}

.update:target {
  background-color: rgba(255,255,0,.1);
}
"""}</style>
